
body {
    background-color: darkgray;
    margin: 5vh;
}
button {
    cursor: pointer;
}
#header, #footer {
    background-color: cornsilk;
    margin: 0 2rem;
}
#footer  {
    text-align: center;
}
.nav_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav_header ul {
    display: flex;
    list-style: none;
}
.nav_header ul li {
    padding: 1rem;
    cursor: pointer;
}
#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    text-align: center;
    background-color: cornsilk;
    margin: 0 2rem;
    min-height: 60vh;
}
#app ul {
    padding: 0;
    list-style: none;
}
