
body {
    background-color: darkgray;
    margin: 5vh;
    
}
button {
    cursor: pointer;
}
#app, #header, #footer {
    background-color: cornsilk;
    margin: auto;
    max-width: 50vw;
}

#footer  {
    text-align: center;
}
.nav_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav_header ul {
    display: flex;
    list-style: none;
}
.nav_header ul li {
    padding: 1rem;
    cursor: pointer;
}
#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    text-align: center;
    min-height: 60vh;
}
#app ul {
    padding: 0;
    list-style: none;
}
